ConvertedData.zip
test.sh
.DS_Store
*.iml
.idea
.idea/*

webapp/src/generated
webapp/target
deploy/application/target
test-suite/.classpath

*.container

.project

*.prefs

deploy/application/.classpath

webapp/.classpath

webapp/.settings/.jsdtscope

webapp/test-output/*

*.component

webapp/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml

webapp/.settings/org.eclipse.wst.common.project.facet.core.xml

webapp/.settings/org.eclipse.wst.jsdt.ui.superType.name

webapp/src/main/webapp/version.txt
*.iml
docker/war
war/target
_docs
reminders-service.war
test-suite/target
docker/cobertura-2.1.1/coberturareport
target/*
*.war
email.out
temp.out
**/version.*
test-suite/scripts/logs
test-suite/scripts/reports
docker/config
docker/logs
deploy/k8s/logs
